* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 30px;
  color: #ae8787;
  background-color: #f1e7e7;
}

h1 {
  padding: 10px 20px;
  font-size: 56px;
  text-transform: uppercase;
  text-align: center;
  color: #a07373;
}

img {
  display: block;
  margin: 20px auto;
}

h2,
h3 {
  text-align: center;
  padding: 20px;
}

p {
  width: 80%;
  text-align: justify;
  margin: 0 auto;
}

ul li {
  margin-left: 20px;
  padding: 20px;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #000000;
  background: none;
  text-transform: uppercase;
}

ul li a:hover {
  color: blue;
}
